._left{
	text-align: left;
}
.south{
	display: block;
	margin-bottom: 30px;
	.row{
		flex-flow: row nowrap;
		@include media('<tablet'){
			flex-direction: column;
		}
	}
	&__box-img{
		position: relative;
		border-top: 11px solid $blue;
		margin-right: 26px;
		width: 50%;
		padding-bottom: 35px;
		@include media('<tablet'){
			margin: 0 auto;
			margin-top: 17px;
		}
		@include media('<phone'){
			width: 100%;
		}
	}
	.img-holder{
		height: 100%;
		@include media('<tablet'){
			display: block;
		    width: 100%;
		    padding-bottom: 110%;
		}
	}
	&__content{
		width: 50%;
		padding-top: 20px;
		@include media('<tablet'){
			width: 100%;
		}
	}
	.h2{
		margin-bottom: 40px;
		@include media('<tablet'){
			margin-bottom: 20px;
			text-align: center;
		}
	}
	.row{
		margin: 0 0 24px;
		@include media('<tablet'){
			margin: 0 0 12px;
		}
	}
	&__paragraph{
		font-size: 17px;
		line-height: 24px;
		font-weight: 300;
		margin-bottom: 24px;
		
		&:last-child{
			margin-bottom: 0px;
		}
		&_mb{
			margin-bottom: 24px;
			@include media('<tablet'){
				margin-bottom: 12px;
			}
		}
	}
	figcaption{
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		margin-top: 10px;
		font-style: italic;
		@include media('<tablet'){
			text-align: center;
		}
	}
	&__pdf-file{
		display: flex;
		align-items: flex-end;
		position: relative;
		font-size: 17px;
		line-height: 22px;
		font-weight: bold;
		&:after{
			content: '';
			display: inline-block;
			vertical-align: top;
			height: 1px;
			flex: 1 0 auto;
			margin:0 0 4px 35px;
			background-color: $mercury;
		}
		&:before{
			content: '';
			display: inline-block;
			vertical-align: top;
			background: url(../images/pdf.svg) no-repeat;
			background-size: 100% auto;
			width: 51px;
			height: 58px;
			margin: 0 6px 4px 0;
			@include media('<phone'){
				width: 41px;
				height: 48px;
			}
		}
	}
}
.general{
	.h2{
		margin-bottom: 40px;
		@include media('<tablet'){
			margin-bottom: 20px;
		}
	}
	.h5{
		display: block;
		font-size: 20px;
		line-height: 30px;
		margin-bottom: 30px;
		@include media('<phone'){
			margin-bottom: 20px;
		}
	}
	.row{
		margin: 0 -40px 40px;
		border-bottom: 1px solid $mercury;
		@include media('<phone'){
			margin: 0 0 20px;
		}
	}
	.col{
		padding: 0 40px;
		margin-bottom: 25px;
		@include media('<phone'){
			margin-bottom: 0px;
			padding: 0;
		}
		ul{
			display: block;
			margin-bottom: 25px;
			@include media('<phone'){
				margin-bottom: 15px;
			}
		}
		li{
			padding-left: 20px;
			position: relative;
			font-size: 17px;
			line-height: 22px;
			font-weight: 300;
			&:after{
				content: '';
				position: absolute;
				top: 8px;
				left: 0;
				width: 7px;
				height: 7px;
				border-radius: 50%;
				background: $blue;
			}
		}
	}
	&__list-title{
		display: block;
		font-size: 17px;
		line-height: 22px;
		margin-bottom: 25px;
		@include media('<phone'){
			margin-bottom: 15px;
		}
	}
	&__legenda{
		display: block;
		margin-bottom: 30px;
		.row{
			margin: 0;
			flex-flow: row nowrap;
			align-items: flex-start;
			border: 0;
			@include media('<tablet'){
				flex-direction: column;
			}
		}
	}
	&__map-block{
		width: 50%;
		margin-right: 20px;
		@include media('<tablet'){
			margin: 0 auto;
			width: 75%;
		}
		@include media('<600px'){
			width: 100%;
		}
		.img-holder{
			display: block;
			width: 100%;
			padding-bottom: 98%;
		}
		figcaption{
			margin-top: 20px;
		}
	}
	&__map-content{
		width: 50%;
		@include media('<tablet'){
			width: 100%;
		}
	}
	&__content-list{
		.box-img{
			max-width: 70px;
			width: 100%;
			margin-right: 35px;
			display: flex;
			justify-content: center;
			@include media('<phone'){
				margin-right: 20px;
			}
		}
		li{
			display: flex;
			align-items: center;
			margin-bottom: 18px;
		}
	}
	&__tab{
		display: block;
		margin-bottom: 35px;
	}
	.tabs{
		display: flex;
	}
	.tabs-caption{
		margin: 0;
		padding: 0;
		list-style: none;
		font-size: 0;
		line-height: 0;
		position: relative;
		min-height: 400px;
	}
	.tabs-caption dt{
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
		max-width: 400px;
		width: 100%;
		background: #fff;
		font-size: 17px;
		line-height: 25px;
		font-weight: 700;
		padding: 12px 20px 12px 12px;
		color: #000;
		cursor: pointer;
		border-top: 1px solid #BDBDBD;
		border-right: 1px solid #BDBDBD;
		border-left: 1px solid #BDBDBD;

		transition: .3s;
		@include media('<tablet'){
			max-width: initial;
		}
	}
	dl{
		&:last-child{
			dt{
				border-bottom: 1px solid #BDBDBD;
			}
		}
	}
	.tabs-caption svg{
		margin-left: auto;
		transition: .3s;
	}
	.tabs-caption dt.active{
		background: $blue;
		color: #fff;
		svg{
			line{
				stroke: #fff;
			}
		}
	}
	dd{
		position: absolute;
		top: 0;
		right: 0;
		left: 400px;
		bottom: 0;
		@include media('<tablet'){
			position: relative;
			top: auto;
			left: 0;
			right: auto;
			padding-top: 10px;
			padding-bottom: 10px;
		}
	}
	.tabs-content{
		display: none;
		width: 100%;
		height: 100%;
		@include media('<tablet'){
			background: #fff;
			background-image: none !important;
		}
		.content{
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100%;
		}
		ul{
			max-width: 300px;
			width: 100%;
			margin: 0;
			padding: 0;
			list-style: none;
			margin: 0 auto;
			@include media('<tablet'){
				max-width: initial;

			}
		}
		li{
			display: block;
			margin-bottom: 10px;
			border: 1px solid rgba(0, 0, 0, 0.344);
			@include media('<tablet'){
				border: 0;
			}
			&:last-child{
				margin-bottom: 0;
			}
		}
		.link{
			display: block;
			text-align: center;
			color: #000;
			background: #fff;
			font-size: 15px;
			line-height: 20px;
			font-weight: 500;
			padding: 10px 5px 10px 5px;
			transition: .3s;
			@include media('<tablet'){
				text-align: left;
				padding: 0px 5px 0px 20px;
				position: relative;
				color: $blue;
			}
			&:after{
				content: '';
				position: absolute;
				top: 6px;
				left: 3px;
				width: 7px;
				height: 7px;
				border-radius: 50%;
				background: $blue;
				opacity: 0;
				@include media('<tablet'){
					opacity: 1;
				}
			}
			&:hover{
				background: $blue;
				color: #fff;
				@include media('<tablet'){
					color: $blue;
					background: #fff;
				}
			}
		}
	}
	.tabs-content.active{
		display: block;
	}
}

.invest{

	.row{
		margin: 0 0 10px;
	}
	.img-holder{
		padding-bottom: 65%;
	}
	

}

.data{
	h2{
		margin-bottom: 40px;
		@include media('<tablet'){
			text-align: center;
		}
	}
	.h5{
		margin-bottom:4px;
		@include media('<tablet'){
			margin-bottom: 18px;
		}
	}
	&__general{
		display: flex;
		align-items: flex-start;
		padding-bottom: 23px;
		margin-bottom: 40px;
		border-bottom: 1px solid $mercury;
		@include media('<tablet'){
			flex-direction: column;
		}

	}
	&__box-img{
		display: block;
		margin-right: 80px;
		max-width: 234px;
		width: 100%;
		@include media('<tablet'){
			margin: 0 auto;
		}
	}
	&__text{
	}
	&__generale-list{
		li{
			padding-left: 20px;
		    position: relative;
		    font-size: 17px;
		    line-height: 22px;
		    font-weight: 300;
		    &:after{
		    	content: '';
			    position: absolute;
			    top: 8px;
			    left: 0;
			    width: 7px;
			    height: 7px;
			    border-radius: 50%;
			    background: #1C2D72;
		    }
		}
	}
	&__transport{
		display: block;
	}
	&__transport-list{
		display: block;
		margin-bottom: 15px;
		border-bottom: 1px solid $mercury;
		.transport-content{
			display: flex;
			margin-bottom:15px ;
			@include media('<tablet'){
				flex-direction: column;
				align-items: center;
			}
		}
		.list-content{
			@include media('<tablet'){
				text-align: center;
			}
		}
		.box-ico{
			display: block;
			max-width: 100px;
			width: 100%;
			text-align: center;
			margin-right: 18px;
			@include media('<tablet'){
				margin-right: 0;
				margin-bottom: 0px;
			}
		}
	}
	&__publice{
		.box-ico{
			max-width: 95px;
		}
		.list-content{
			margin-top: 10px;
		}
	}
}

.workforce{
	display: block;
	border-bottom: 1px solid $mercury;
	margin-bottom: 35px;
	@include media('<phone'){
		margin-bottom: 25px;
	}
	table{
		display: table;
		width: 100%;
		margin-bottom: 26px;
		thead{
			tr{
				th{
					background:$blue;
					color: #fff;
					font-size: 20px;
					height: 50px;
					padding: 0 15px;
					vertical-align: middle;
					text-align: center;
					@include media('<phone'){
						padding: 0 55px;
					}
					@include media('<375px'){
						padding: 0 30px;
					}
				}
			}
		}
		tbody{
			border: 1px solid #DDDDDD;
			tr{
				&:nth-child(2n+1){
					background: $mercury;
				}
				td{
					text-align: center;
					height: 50px;
					vertical-align: middle;
					font-size: 17px;
					line-height: 21px;
					font-weight: bold;
					border-right: 1px solid #DDDDDD;
					@include media('<phone'){
						font-size: 15px;
					}
				}
			}
		}
	}
	&__caption{
		display: block;
		font-size: 17px;
		line-height: 21px;
		font-style: italic;
		margin-bottom: 35px;
		font-weight: 300;
		@include media('<phone'){
			margin-bottom: 15px	;
		}
	}
	.h5{
		margin-bottom: 40px;
	}
	.table-block{
		th{
			text-align: left;
			padding: 0 0 0 35px;
			@include media('<phone'){
				padding: 0;
				text-align: center;
				font-size: 15px;
			}
			&:nth-child(1){
				text-align: left;
				@include media('<phone'){
					text-align: center;
				}
			}
		}
		tbody{
			td{
				text-align: left;
				padding: 0 0 0 35px;
				font-weight: 300;
				@include media('<phone'){
					padding: 0;
					text-align: center;
					font-size: 15px;
					line-height: 20px;
					&:last-child{
						font-size: 11px;
					}
				}
				@include media('<350px'){
					font-size: 14px;
				}
			}
			th{
				height: 50px;
				vertical-align: middle;
				font-size: 17px;
				line-height: 21px;
				font-weight: bold;
				border-right: 1px solid #DDDDDD;
				@include media('<phone'){
					font-weight: normal;
					font-size: 15px;
					line-height: 20px;
				}
				@include media('<350px'){
					font-size: 14px;
				}
			}
		}
	}
}

.economy{
	.tab{
		display: none;
	}
	.pc{
		display: block;
	}
	/* Tablet */
	@media only screen and (max-width: 992px){
		.tab{
			display: block !important;
		}
		.pc{
			display: none !important;
		}
	}
	/* Smartphone */
	@media only screen and (min-width: 992px){
		.tab{
			display: none !important;;
		}
		.pc{
			display: block !important;
		}
	}
	.h5{
		margin-bottom: 20px;
	}
	.row{
		margin-bottom: 35px;
		flex-flow: row nowrap;
		@include media('<tablet'){
			flex-direction: column;
			flex-direction: column-reverse;
		}
		@include media('<tablet'){
			margin-bottom: 24px;
		}
	}
	.col{
		@include media('<tablet'){
			width: 100%;
		}
	}
	&__lists{
		margin: 0;
		padding: 0;
		list-style: none;
		li{
			font-size: 17px;
			line-height: 21px;
			b{
				margin-right: 15px;
			}
		}
	}
	.box-img{
		display: block;
		max-width: 480px;
		text-align: center;
		@include media('<tablet'){
			margin: 0 auto;
		}
		img{
			display: block;
			width: 100%;
		}
		.workforce__caption{
			margin-top: 25px;
		}
	}
	&__list{
		display: flex;
		flex-wrap: wrap;
		margin: 0 -10px 45px;
		@include media('<tablet'){}
	}
	&__item{
		width: 33.333%;
		padding: 0 10px;
		@include media('<tablet'){
			width: 50%;
		}
		@include media('<phone'){
			width: 100%;
		}
		&:hover{
			.economy__box-img-mask{
				opacity: 1;
				visibility: visible;
			}
		}
	}
	&__box-img{
		position: relative;
		display: block;
		height: 264px;
		margin-bottom: 20px;
		&-mask{
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: linear-gradient(0deg, rgba(17, 17, 17, 0.67), rgba(17, 17, 17, 0.67));
			padding: 18px 22px 42px;
			opacity: 0;
			visibility: hidden;
			transition: all .3s ease;
			text-align: left;
			.economy__title{
				color: $white;
			}
			.economy__paragraph{
				color: $white;
				height: 105px;
				overflow: hidden;
			}
			.btn{
				position: absolute;
				bottom: 0;
				right: 0;
			}
		}
	}
	&__title{
		display: block;
		font-size: 17px;
		line-height: 21px;
		font-weight: 700;
	}
	&__paragraph, p{
		display: block;
		font-size: 16px;
		line-height: 21px;
		font-weight: 300;
	}
	&__date{
		display: inline-block;
		vertical-align: top;
		margin-bottom: 12px;
		line-height: 26px;
		font-size: 15px;
		font-weight: 400;
		padding: 0 7px;
		color: $white;
		border: 1px solid #848484;
	}

}
.news{
	&_inner{
		padding: 36px 0 39px;
		@include media('<phone'){
			padding: 40px 0 35px;
		}
	}
	&__data{
		display: block;
		font-size: 15px;
		line-height: 20px;
		font-weight: normal;
		max-width: 105px;
		padding: 5px 7px;
		background: $blue;
		text-align: center;
		color: $white;
		margin-bottom: 7px;
	}
	.h2{
		margin-bottom: 26px;
	}
	&__inner-box-img{
		display: block;
		margin-bottom: 40px;
		@include media('<phone'){
			margin-bottom: 30px;
		}
		img{
			display: block;
			width: 100%;
		}
	}
	.h5{
		margin-bottom: 30px;
		@include media('<phone'){
			margin-bottom: 10px;
		}
	}
	&__inner-holder-paragraph{
		margin-bottom: 40px;
		@include media('<phone'){
			margin-bottom: 20px;
		}
		&__mb{
			margin-bottom: 27px;
			@include media('<phone'){
				margin-bottom: 20px;
			}
		}
	}
	&__inner-share{
		display: flex;
		align-items: center;
		position: relative;
		font-size: 15px;
		line-height: 20px;
		font-weight: normal;
		max-width: 132px;
		padding: 5px 9px;
		background: $blue;
		text-align: left;
		color: $white;
		&:before{
			content: '';
			display: inline-block;
			vertical-align: top;
			background: url(../images/facebook.svg) no-repeat;
			background-size: 100% auto;
			width: 27px;
			height: 27px;
			margin-right: 10px;
		}
	}
}

.faq{
	background: url(#{$images}faq-bg.png) 0 0 no-repeat;
	padding: 54px 0 35px;
	@include media("<tablet"){
		background: none;
	}
	@include media("<phone"){
		padding: 23px 0 34px;
	}
	&__holder{
		max-width: 715px;
		margin: 0 0 0 auto;
	}
	.accordeon{
		counter-reset: list;
		padding-bottom: 20px;
		border-bottom: 1px solid $mercury;
		margin-bottom: 20px;
		dl{
			margin: 0;
			background-color: $white;
			position: relative;
			&:after{
				counter-increment: list;
				content: "" counter(list, decimal-leading-zero);
				position: absolute;
				top: 12px;
				left: 0;
				font-size: 17px;
				font-weight: bold;
				width: 50px;
				height: 26px;
				display: flex;
				align-items: center;
				justify-content: center;
				color: $blue;
				border-right: 1px solid #C4C4C4;
			}
		}
		dl + dl{
			margin-top: 9px;
			@include media("<phone"){
				margin-top: 9px;
			}
		}
		dt{
			position: relative;
			border: 1px solid #e5e5e5;
			padding: 13px 55px 13px 50px;
			margin: 0;
			cursor: pointer;
			@include media("<phone"){
				padding: 13px 55px 13px 50px;
			}
		}
		dt:after{
			content: "";
			position: absolute;
			top: 50%;
			right: 18px;
			transform: translate(0, -50%) rotate(0.01deg);
			width: 14px;
			height: 8px;
			background: url(../images/arrow-acardeon-blue.svg) no-repeat;
			background-size: 100% auto;
			transition: all 0.5s;
			@include media("<phone"){
				right: 14px;
			}
		}
		dt.active{
			background: $blue;
		}
		dl.curretn dt{

		}
		.current{
			margin: 9px -20px 0;
			@include media("<phone"){
				margin: 9px 0 0;
			}
			&:after{
				color: #fff;
			}
			dt{
				background: $blue;
				strong{
					color: #fff;
				}
				&:after{
					background: url(../images/arrow-acardeon-white.svg) no-repeat;
					background-size: 100% auto;
					transform: translate(0, -50%) rotate3d(1, 0, 0, 180deg);
				}
			}
			
		}
		dt.active strong{
			color: #fff;
		}
		dl.active:after{
			color: #fff;
		}
		dl.active{
			margin-left: -20px;
			margin-right: -20px;
			@include media("<phone"){
				margin-left: 0px;
				margin-right:0px;
			}
		}
		dt.active:after{
			background: url(../images/arrow-acardeon-white.svg) no-repeat;
			background-size: 100% auto;
			transform: translate(0, -50%) rotate3d(1, 0, 0, 180deg);
		}
		dt span{
			display: inline-block;
			vertical-align: middle;
			font-size: 14px;
			line-height: 32px;
			font-weight: 400;
			text-transform: uppercase;
		}
		dt .ico{
			display: inline-block;
			vertical-align: middle;
			font-size: 0;
			line-height: 0;
			text-align: center;
			width: 32px;
			height: 32px;
			margin: 0 8px 0 0;
		}
		dt strong{
			font-size: 17px;
			line-height: 20px;
			font-weight: bold;
			margin-left: 12px;
		}
		dd{
			position: relative;
			margin: -1px 0 0;
			border: 1px solid #e5e5e5;
			padding: 24px 57px;
			font-size: 17px;
			line-height: 25px;
			color: $gray;
			font-weight: 300;
			font-style: normal;
			@include media("<phone"){
				font-size: 17px;
				line-height: 20px;
				padding: 22px 14px 22px 50px;
			}
		}
		dd p{
			margin: 0 0 30px;
			@include media("<phone"){
				margin: 0 0 16px;
			}
		}
		dd p:last-child{
			margin: 0;
		}
		dd .content{}
	}
}
.news{
	&__page{
		padding: 45px 0 50px;
	}
	.h2{
		margin-bottom: 30px;
	}
	&__holder-list{
		text-align: center;
		padding-bottom: 30px;
		border-bottom: 1px solid $mercury;
		margin-bottom: 30px;
		.economy__list{
			margin: 0 -10px 30px;
			text-align: left;
		}
		.btn{
			min-width: 179px;
			@include media("<phone"){
				min-width: auto;
				width: 100%;
			}
		}
	}
	&__years-list{
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 28px;
		.link{
			display: block;
			font-size: 15px;
			line-height: 22px;
			padding: 8px 28px;
			border: 1px solid transparent;
			transition: .3s;
			&:hover,
			&:active{
				border: 1px solid rgba(0, 0, 0, 0.344)
			}
		}
		.active{
			border: 1px solid rgba(0, 0, 0, 0.344)
		}
	}
	&__months-list{
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		margin-bottom: 28px;
		.link{
			display: block;
			font-size: 15px;
			line-height: 22px;
			padding: 8px 24px;
			border: 1px solid transparent;
			transition: .3s;
			&:hover,
			&:active{
				border: 1px solid rgba(0, 0, 0, 0.344)
			}
		}
		.active{
			border: 1px solid rgba(0, 0, 0, 0.344)
		}
	}
	&__filter-item{
		.flex-container{
			display: flex;
		}
	}
	&__select-years{
		margin-bottom: 20px;
		margin-right: 20px;
		width: 100%;
		.jcf-select-opener{
			width: 30px;
			background: $blue;
			&:before{
				border-color: $white;
			}
		}
		.jcf-select.jcf-drop-active .jcf-select-opener:before{
			border-color: $white;
		}
	}
	&__select-month{
		margin-bottom: 20px;
		width: 100%;
		.jcf-select-opener{
			width: 30px;
			background: $blue;
			&:before{
				border-color: $white;
			}
		}
		.jcf-select.jcf-drop-active .jcf-select-opener:before{
			border-color: $white;
		}
	}
	&__slider{
		margin: 0 -10px;
		.partners__slider-item{
			width: 100%;
			max-width: 420px;
			@include media("<450px"){
				max-width: 360px;
			}
		}
	}
	&__slider-holder{
		width: 100%;
		padding: 0;
	}

}