.jcf-select{
	display: block;
	position: relative;
	border: 1px solid rgba($black, 0.35);
	margin: 0;
	width: 100%;
	border-radius: 0;
	height: 30px;
	background: #fff;
	cursor: pointer;
	color: $black;
	min-width: 100px;
	max-width: 100% !important;
}
.jcf-select.jcf-drop-active{
	border-top-right-radius: 0;
	border-top-left-radius: 0;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
.jcf-select.jcf-drop-flipped{
	border-top-right-radius: 0;
	border-top-left-radius: 0;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
.jcf-select .jcf-select-opener{
	position: absolute;
	background: transparent;
	width: 40px;
	bottom: 0;
	right: 0;
	top: 0;
	//display: none;
}
.jcf-select .jcf-select-opener:before{
	content: "" !important;
	position: absolute;
	top: 50%;
	right: 12px;
	border-top: 1px solid transparent;
	border-left: 1px solid transparent;
	width: 8px;
	height: 8px;
	padding: 0 !important;
	margin: -2px 0 0;
	border-color: #343434;
	-webkit-transform: translate(0, -50%) rotate(225deg);
	transform: translate(0, -50%) rotate(225deg);
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.jcf-select.jcf-drop-active .jcf-select-opener:before{
	border-color: $black;
	-webkit-transform: translate(0, -50%) rotate(45deg);
	transform: translate(0, -50%) rotate(45deg);
	margin: 2px 0 0;
}
.jcf-select .jcf-select-text {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	cursor: pointer;
	display: block;
	text-align: left;
	font-size: 15px;
	line-height: 20px;
	font-weight: 400;
	padding: 4px 40px 4px 8px;
	color: $gray;
	margin: 0;
}
.jcf-select.jcf-select-small .jcf-select-text{
	font-size: 12px;
	line-height: 20px;
}
.jcf-select-drop .jcf-select-drop-content{
	border: 1px solid #BDBDBD;
	box-shadow: 0px 4px 4px rgba($black, 0.25);
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
.jcf-select-drop.jcf-compact-multiple{
	.jcf-list{
		padding: 20px 28px;
		@include media("<desktop"){
			padding: 8px 8px;
		}
		.jcf-option{
			padding: 7px 0 7px 24px;
			&:before {
				content: "";
				position: absolute;
				top: 7px;
				left: 0;
				width: 15px;
				height: 15px;
				border: 1px solid #BDBDBD;
				margin: 0;
				transform: rotate(0deg);
			}
			&:after{
				content: "";
				position: absolute;
				top: 10px;
				left: 3px;
				width: 9px;
				height: 9px;
				border: 0;
				margin: 0;
				background: #000;
				transform: rotate(0deg);
				opacity: 0;
				transition: all .2s;
			}
			&.jcf-selected{
				background: none;
				&:after{
					opacity: 1;
				}
			}
		}
	}
}
.jcf-list{
	display: inline-block;
	vertical-align: top;
	position: relative;
	background: #fff;
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
	letter-spacing: 0;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	width: 100%;
	.jcf-option{
		position: relative;
		white-space: normal;
		overflow: hidden;
		cursor: pointer;
		display: block;
		color: $gray;
		min-height: 25px;
		height: 1%;
		margin: 0;
		padding: 7px 10px;
		transition: color .3s;
		cursor: pointer;
		&.jcf-selected{
			color: $black;
		}
	}
}
.jcf-select-drop.jcf-select-small .jcf-list{
	font-size: 16px;
	line-height: 20px;
	.jcf-option{
		padding: 5px 15px;
	}
}
.jcf-select-drop.jcf-select-small .jcf-list ul{
	padding: 6px 0;
}
.jcf-select-drop .jcf-hover, .jcf-list-box .jcf-selected{
	background: $white;
	color: $gray;
}
.jcf-focus, .jcf-focus * {
	border-color: rgba($black, .35) !important;
}
body>.jcf-select-drop {
	position: absolute;
	margin: -1px 0 0;
	z-index: 999;
}
body>.jcf-select-drop.jcf-drop-flipped {
	margin: 3px 0 0;
}
.jcf-select-drop.jcf-drop-flipped .jcf-list{
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
.jcf-list-content .jcf-option-hideme{display: none;}

.jcf-select-sm{
	display: inline-block;
	vertical-align: top;
	min-width: 44px;
	height: 24px;
	width: 44px;
	.jcf-select-text{
		display: block;
		margin: 0;
		padding: 0 12px;
		text-align: center;
		color: $black;
		font-size: 16px;
		line-height: 22px;
		font-weight: 400;
		> span{
			display: block;
		}
	}
	.jcf-select-opener{
		width: 12px;
		&:before{
			content: "";
			position: absolute;
			top: 50%;
			right: 4px;
			transform: translate(0, -50%);
			border: 3px solid transparent;
			border-top: 6px solid $mercury;
			border-bottom: 0;
			width: 0;
			height: 0;
			margin: 0 0 0;
		}
	}
	&.jcf-drop-active{
		.jcf-select-opener{
			&:before{
				border: 3px solid transparent;
				border-top: 6px solid $mercury;
				border-bottom: 0;
				transform: translate(0, -50%) rotate(180deg);
				margin: 0 0 0;
			}
		}
	}
	&.jcf-select-drop{
		margin: -1px 0 0;
		.jcf-select-drop-content{
			border-top: 0;
		}
		.jcf-list{
			font-size: 16px;
			line-height: 22px;
			font-weight: 400;
			text-align: center;
			.jcf-option{
				padding: 0;
				min-height: 22px;
				&.jcf-selected{
					display: none;
				}
			}
		}
	}
}
/* end jcf-select */

.visual{
	position: relative;
	min-height: 560px;
	overflow: hidden;
	@include media("<tablet"){
		display: flex;
	}
	@include media("<phone"){
		min-height: 440px;
	}
	&:after{
		content: "";
		position: absolute;
		bottom: 0;
		right: 0;
		width: calc(100% - 400px);
		height: 100px;
		background: $white;
		@include media("<desktop"){
			width: calc(100% - 250px);
		}
		@include media("<tablet"){
			display: none;
		}
	}
	> .container{
		display: flex;
		flex-flow: row nowrap;
		@include media("<tablet"){
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
	&__content{
		position: relative;
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 44px 38px 34px 82px;
		background: rgba($white, 0.45);
		@include media("<desktop_lg"){
			padding: 44px 38px;
		}
		@include media("<tablet"){
			padding: 36px 15px;
			display: flex;
			flex-flow: column;
			align-items: center;
			justify-content: center;
			text-align: center;
		}
	}
	&__holder{
		position: relative;
		min-width: 205px;
		background-color: rgba($blue, 0.8);
		@include media("<tablet"){
			display: none;
		}
		&.big{
			min-width: 400px;
			background: rgba($blue, 0.8) url(#{$images}img-visual-01.png) 40% 60px no-repeat;
			background-size: 142px auto;
			z-index: 10;
			@include media("<desktop"){
				min-width: 230px;
			}
			&:before{
				content: "";
				position: absolute;
				top: 33%;
				right: 0;
				transform: translate(100%, -67%);
				border: 24px solid transparent;
				border-left: 24px solid rgba($blue, 0.82);
				border-right: 0;
			}
		}
		&.small{
			background: rgba($blue, 0.8) url(#{$images}img-visual-02.png) 50% 60px no-repeat;
			background-size: 142px auto;
			&:after{
				content: "";
				position: absolute;
				bottom: 0;
				left: 0;
				transform: translateY(100%);
				width: 100%;
				height: 999px;
				background: $white;
			}
		}
	}
	&__title{
		font-size: 80px;
		line-height: 88px;
		text-align: left;
		margin-bottom: 8px;
		@include media("<tablet"){
			text-align: center;
		}
		@include media("<phone"){
			font-size: 50px;
			line-height: 58px;
		}
	}
	&__text{
		max-width: 266px;
		font-size: 20px;
		font-weight: 400;
		margin-bottom: 0;
		@include media("<tablet"){
			max-width: 100%;
			margin-bottom: 24px;
		}
	}
	&__btn{
		display: flex;
		flex-flow: row wrap;
		justify-content: flex-end;
		margin: 0 -10px;
		@include media("<tablet"){
			width: 100%;
			justify-content: center;
		}
		.btn{
			margin: 0 10px 12px;
			@include media("<400px"){
				width: 100%;
				margin: 0 0 12px;
			}
		}
	}
}
.slider{
	position: relative;
	z-index: 2;
	height: 100%;
	width: 100%;
	&:not(.slick-initialized) {
		opacity: 0;
		display: flex;
		flex-flow: row nowrap;
	}
	.slick-track, .slick-list{
		height: 100%;
		overflow: visible;
	}
	&-item{
		position: relative;
	}
}
.slick-prev,
.slick-next{
	position: absolute;
	top: 50%;
	display: block;
	width: 45px;
	height: 45px;
	border-radius: 0;
	padding: 0;
	transform: translate(0, -50%);
	cursor: pointer;
	color: transparent;
	border: none;
	outline: none;
	background: #fff;
	opacity: 0.8;
	transition: opacity .3s ease-in-out;
	z-index: 20;
	@include media("<tablet"){
		width: 20px;
		height: 20px;
	}
	&:hover{
		opacity: 1;
	}
}
.slick-prev{
	background: url(#{$images}ico-prev.svg) 50% 50% no-repeat;
	background-size: 45px auto;
	left: -115px;
}
.slick-next{
	background: url(#{$images}ico-next.svg) 50% 50% no-repeat;
	background-size: 45px auto;
	right: -115px;
}

.gallery{
	padding: 0 0 95px;
	text-align: center;
	@include media("<tablet"){
		padding: 70px 0 95px;
	}
	@include media("<phone"){
		padding: 34px 0;
	}
	h2, .h2{
		display: inline-block;
		vertical-align: top;
		text-align: left;
		max-width: 562px;
		@include media("<tablet"){
			max-width: 100%;
			display: block;
			text-align: center;
		}
	}
	&__slider{
		&-item{
			padding: 0 10px;
		}
		&-holder{
			position: relative;
			display: block;
			width: 295px;
			padding-top: 95%;
			transition: all .3s ease-in-out;
			&:after{
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background: linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url(#{$images}ico-zoom.svg) 50% 50% no-repeat;
				background-size: 56px auto;
				opacity: 0;
				transition: all .3s ease-in-out;
			}
			&:hover{
				&:after{
					opacity: 1;
				}
			}
		}
	}
}

.partners{
	position: relative;
	padding: 70px 0 95px;
	background-color: $mercury;
	@include media("<phone"){
		padding: 34px 0;
	}
	&:before{
		content: "";
		position: absolute;
		top: 0;
		left: 50%;
		transform: translate(-50%, -100%);
		height: 10px;
		width: 295px;
		background: $blue;
		@include media("<phone"){
			width: 210px;
		}
	}
	&__slider{
		&-item{
			padding: 0 10px;
		}
		&-holder{
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 295px;
			height: 190px;
			padding: 20px;
			background: $white;
			transition: all .3s ease-in-out;
			@include media("<phone"){
				width: 160px;
				height: 110px;
				padding: 18px 14px;
			}
			img{
				display: block;
				max-width: 100%;
				max-height: 100%;
			}
		}
	}
}

.page-pagination{
	display: block;
}
.pagination-numbers{
	position: relative;
	display: block;
	padding: 0 45px;
	margin: 0 -8px;
	text-align: center;
	font-size: 0;
	line-height: 0;
	@include media("<phone"){
		padding: 0 30px;
	}
	@include media("<375px"){
		padding: 0;
	}
	&__link{
		display: block;
		font-size: 12px;
		line-height: 18px;
		color: $gray;
		font-weight: 400;
		padding: 5px;
		cursor: pointer;
		min-width: 30px;
		border-radius: 3px;
		outline: none;
		border: 1px solid rgba($gray, 0.1);
		transition: all .2s;
		@include media("<phone"){
			font-size: 12px;
			padding: 5px;
			min-width: 30px;
			line-height: 18px;
		}
		&:hover{
			color: $gray;
		}
		&.break{
			cursor: default;
			min-width: auto;
			border: none;
			&:hover{
				color: inherit;
			}
		}
	}
	&__number{
		display: inline-block;
		vertical-align: middle;
		padding: 0 8px;
		@include media("<phone"){
			padding: 0 4px;
		}
		&:first-of-type{
			height: 30px;
			.pagination-numbers__link{
				height: 100%;
				min-width: 30px;
				&:hover{
					.pagination-numbers__arrow{
						&:after{
							border-color: $gray;
						}
					}
				}
			}
			.pagination-numbers__arrow{
				&:after{
					content: "";
					position: absolute;
					top: 50%;
					left: 60%;
					border-bottom: 1px solid transparent;
					border-right: 1px solid transparent;
					width: 8px;
					height: 8px;
					margin: 0;
					border-color: $gray;
					transform: translate(-50%, -50%) rotate(135deg);
					transition: all .2s;
					@include media("<phone"){
						border-bottom: 1px solid transparent;
						border-right: 1px solid transparent;
						width: 8px;
						height: 8px;
						border-color: $gray;
					}
				}
			}
		}
		&:last-of-type{
			height: 30px;
			.pagination-numbers__link{
				height: 100%;
				min-width: 30px;
				&:hover{
					.pagination-numbers__arrow{
						&:after{
							border-color: $gray;
						}
					}
				}
			}
			.pagination-numbers__arrow{
				&:after{
					content: "";
					position: absolute;
					top: 50%;
					left: 40%;
					border-top: 1px solid transparent;
					border-left: 1px solid transparent;
					width: 8px;
					height: 8px;
					margin: 0;
					border-color: $gray;
					transform: translate(-50%, -50%) rotate(135deg);
					transition: all .2s;
					@include media("<phone"){
						border-top: 1px solid transparent;
						border-left: 1px solid transparent;
						width: 8px;
						height: 8px;
						border-color: $gray;
					}
				}
			}
		}
		&_current{
			.pagination-numbers__link{
				background: $white;
				color: $gray;
				border-color: $gray;
				&:hover{
					color: $gray;
				}
			}
		}
		&_active{
			.pagination-numbers__link{
				cursor: default;
				pointer-events: none;
			}
		}
		&_disabled{
			.pagination-numbers__link{
				pointer-events: none;
			}
		}
	}
	&__arrow{
		position: relative;
		display: block;
		height: 100%;
		&:after{
			border-color: $gray;
		}
	}
}

.contact{
	padding: 45px 0 62px;
	@include media("<phone"){
		padding: 30px 0;
	}
	.row{
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		margin: 0 -10px;
		@include media("<phone"){
			flex-flow: column;
			margin: 0;
		}
		.col{
			flex: 1 1 50%;
			padding: 0 10px;
			@include media("<phone"){
				flex: 1 1 auto;
				padding: 15px 0;
			}
		}
	}
	.btn{
		min-width: 180px;
		@include media("<phone"){
			min-width: auto;
			width: 100%;
		}
	}
	&__info{
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		align-items: flex-start;
		margin-bottom: 28px;
		@include media("<phone"){
			margin-bottom: 2px;
		}
		.footer-links__list{
			column-count: 2;
			@include media('<desktop'){
				column-count: 1;
			}
			.footer-links__item{
				margin-bottom: 18px;
				margin-right: 10px;
			}
			.footer-links__link{
				font-size: 16px;
				line-height: 1.5;
				color: $gray;
				font-weight: 700;
				padding-left: 40px;
			}
			a.footer-links__link:hover{
				color: $blue;
			}
			.footer-links__link-ico{
				width: 26px;
				min-width: 26px;
			}
		}
	}
	&__form{}
}

.map{
	display: block;
	width: 100%;
	height: 100%;
	min-height: 400px;
	margin: 0;
	padding: 0;
	border: 0;
	@include media("<phone"){
		height: 300px;
	}
}








































































.news{
	background: url(#{$images}news-bg.png) 0 10% no-repeat;
	@include media("<desktop"){
		background: none;
	}
	&_desct{
		background: url(#{$images}news-desct-bg.png) 0 40% no-repeat;
		@include media("<desktop"){
			background: none;
		}
	}
	&__list{
		margin: 0 -15px;
		padding: 0;
		list-style: none;
		display: flex;
		flex-wrap: wrap;
		@include media("<phone"){
			margin: 0 -10px;
		}
	}
	&__item{
		width: 33.333%;
		padding: 0 15px;
		margin-bottom: 40px;
		@include media("<tablet"){
			width: 50%;
		}
		@include media("<phone"){
			width: 100%;
			padding: 0;
		}
	}
	&__box-img{
		display: block;
		position: relative;
		width: 100%;
		padding-bottom: 88%;
		margin-bottom: 24px;
		overflow: hidden;
	}
	&__img{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		min-width: 100%;
		min-height: 100%;
	}
	&__content{
		padding: 0 30px;
		flex: 1 1 auto;
		justify-content: space-between;
		display: flex;
		flex-direction: column;
		@include media("<tablet"){
			padding: 0 10px;
		}
	}
	&__list-title{
		display: block;
		font-size: 18px;
		line-height: 25px;
		font-weight: 700;
		text-align: left;
		margin:0 0 24px;
	}
	&__paragraph{
		font-size: 14px;
		line-height: 23px;
		margin-bottom: 30px;
		flex: 0 1 100%;
		@include media("<phone"){
			font-size: 14px;
			line-height: 22px;
			margin-bottom: 20px;
		}
		&-desct{
			font-size: 18px;
			line-height: 32px;
			@include media("<phone"){
				font-size: 14px;
				line-height: 25px;
				margin-bottom: 15px;
			}
		}
	}
	&__more{
		display: block;
		font-size: 12px;
		line-height: 20px;
		font-weight: 700;
		margin-bottom: 30px;
		transition: all .3s;
	}
	&__list-link{
		display: flex;
		flex-direction: column;
		transition: all .3s;
		height: 100%;
		&:hover{
			background: $white;
			box-shadow: 0px 0px 40px rgba(94, 93, 93, 0.1);
			.news__more{
				color: $orange;
				text-decoration: underline;
			}
		}
	}
	&__img-block{
		display: block;
		margin-bottom: 60px;
		@include media("<phone"){
			margin: 0 -10px 30px;
		}
	}
	&__images{
		display: block;
		max-width: 100%;
		max-height: 100%;
		margin: 0 auto;
	}
	&__text-desct-block{
		display: block;
		margin-bottom: 50px;
	}
}

.datasheets{
	background: url(#{$images}datasheets-bg.png) 100% 40% no-repeat;
	@include media("<desktop"){
		background: none;
	}
	&__list{
		margin: 0 0 30px;
		padding: 0;
		list-style: none;
	}
	&__item{
		border: 1px solid $mercury;
		border-top:0;
		padding: 20px 10px;
		&:first-child{
			border-top: 1px solid $mercury;
		}
	}
	&__content{
		display: flex;
		justify-content: space-between;
		align-items: center;
		@include media("<phone"){
			flex-direction: column;
		}
	}
	&__descr{
		font-size: 18px;
		line-height: 25px;
		letter-spacing: 0.05px;
		font-weight: 700;
		@include media("<phone"){
			margin-bottom: 16px;
		}
	}
	&__link{
		display: inline-block;
		vertical-align: top;
		margin-left: 15px;
		min-width: 90px;
		text-align: center;
		padding: 6px 3px;
		border: 1px solid $orange;
		color: $orange;
		border-radius: 5px;
		font-size: 12px;
		line-height: 16px;
		font-weight: 700;
		transition: all .3s;
		&:hover{
			transform: translate(2px, -2px);
			box-shadow: -4px 5px 8px 1px rgba(169, 169, 169, 0.75);
			color: $orange;
		}
		&_orange{
			background: $orange;
			color: $white;
			&:hover{
				color: $white;
			}
		}
	}
}
.faq{
	background: url(#{$images}faq-bg.png) 100% 30% no-repeat;
	@include media("<desktop"){
		background: none;
	}
	.accordeon{
		dl{
			margin: 0;
			background-color: $white;
		}
		dl + dl{
			margin-top: 30px;
			@include media("<phone"){
				margin-top: 16px;
			}
		}
		dt{
			position: relative;
			border: 1px solid #e5e5e5;
			padding: 16px 55px 16px 24px;
			margin: 0;
			cursor: pointer;
			@include media("<phone"){
				padding: 7px 55px 7px 14px;
			}
		}
		dt:after{
			content: "";
			position: absolute;
			top: 50%;
			right: 18px;
			transform: translate(0, -50%) rotate(0.01deg);
			width: 14px;
			height: 8px;
			background: url(#{$images}ico-accordeon-arrow-down.svg) no-repeat;
			background-size: 100% auto;
			transition: all 0.5s;
			@include media("<phone"){
				right: 14px;
			}
		}
		dt.active:after{
			transform: translate(0, -50%) rotate3d(1, 0, 0, 180deg);
		}
		dt span{
			display: inline-block;
			vertical-align: middle;
			font-size: 14px;
			line-height: 32px;
			font-weight: 400;
			text-transform: uppercase;
		}
		dt .ico{
			display: inline-block;
			vertical-align: middle;
			font-size: 0;
			line-height: 0;
			text-align: center;
			width: 32px;
			height: 32px;
			margin: 0 8px 0 0;
		}
		dt strong{
			font-weight: 400;
		}
		dd{
			position: relative;
			margin: -1px 0 0;
			border: 1px solid #e5e5e5;
			padding: 24px 24px;
			font-size: 14px;
			line-height: 25px;
			color: $blackcurrant;
			font-weight: 300;
			font-style: normal;
			@include media("<phone"){
				font-size: 12px;
				line-height: 20px;
				padding: 24px 14px;
			}
		}
		dd p{
			margin: 0 0 30px;
			@include media("<phone"){
				margin: 0 0 16px;
			}
		}
		dd p:last-child{
			margin: 0;
		}
		dd .content{}
	}
}
.products{
	.tabs-caption{
		margin: 0;
		padding: 0;
		list-style: none;
		font-size: 0;
		line-height: 0;
		text-align: center;
	}
	.tabs-caption li{
		position: relative;
		display: inline-block;
		vertical-align: top;
		min-width: 90px;
		font-size: 12px;
		line-height: 16px;
		font-weight: 700;
		padding: 6px 8px;
		border: 1px solid $orange;
		color: $orange;
		text-align: center;
		cursor: pointer;
		margin-right: 30px;
		border-radius: 5px;
		&:last-child{
			margin-right: -0px;
		}
		@include media("<phone"){
			margin-right: 10px;
		}
	}
	.tabs-caption li.active{
		background: $orange;
		color: $white;
	}
	.tabs-caption li.active:before{
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 1px;
		background: transparent;
	}
	.tabs-content{
		display: none;
		min-height: 100px;
		background: transparent;
	}
	.tabs-content.active{
		display: block;
		background: transparent;
	}
}
.products{
	background: url(#{$images}product-bg.png) 0 120px no-repeat;
	@include media("<desktop"){
		background: none;
	}
	&__list{
		margin: 0 -25px;
		padding: 0;
		list-style: none;
		display: flex;
		flex-wrap: wrap;
		padding-top: 60px;
	}
	&__item{
		width: 25%;
		padding: 0 25px;
		margin-bottom: 30px;
		@include media("<tablet"){
			width: 50%;
		}
		@include media("<phone"){
			width: 100%;
		}
	}
	&__content{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	&__title{
		display: block;
		font-size: 18px;
		line-height: 25px;
		margin-bottom: 16px;
	}
	&__series{
		display: block;
		font-size: 14px;
		line-height: 19px;
		margin-bottom: 12px;
	}
	&__link{
		position: relative;
		display: inline-block;
		vertical-align: top;
		&:before{
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 1px;
			background-color: $gray;
			transition: width .3s ease-in-out;
		}
		&:hover{
			&:before{
				width: 0;
			}
		}
	}
}
.about{
	background: url(#{$images}about-bg.png) 100% 20% no-repeat;
	@include media("<desktop"){
		background: none;
	}
	&__paragraph{
		display: block;
		font-size: 18px;
		line-height: 32px;
		text-align: center;
		max-width: 790px;
		margin:0 auto;
		margin-bottom: 85px;
		@include media("<phone"){
			font-size: 14px;
			line-height: 21px;
			bottom: 60px;
		}
	}
	&__map-img-block{
		display: block;
		padding-top: 50%;
		@include media("<phone"){
			padding-top: 68%;
		}
	}
}
.facts{
	background: $alabaster;
	padding: 90px 0;
	margin-bottom: 81px;
	@include media("<phone"){
		padding: 60px 0;
	}
	&__title{
		margin: 0 0 49px;
	}
	&__list{
		margin: 0 -25px;
		padding: 0;
		list-style: none;
		display: flex;
		flex-wrap: wrap;
		@include media("<phone"){
			margin: 0;
		}
	}
	&__item{
		width: 25%;
		padding: 0 15px;
		display: flex;
		justify-content: center;
		@include media("<phone"){
			width: 100%;
			padding: 0;
			margin-bottom: 40px;
			&:last-child{
				margin-bottom: 0;
			}
		}
	}
	&__content{
		padding-top: 80px;
		position: relative;
		font-size: 18px;
		line-height: 25px;
		font-weight: 700;
		&:after{
			content: '';
			position: absolute;
			top: 0;
			left: 50%;
			transform: translate(-50%, 0);
			background: url(#{$images}facts-ico.svg) no-repeat;
			background-size: 100% auto;
			width: 60px;
			height: 60px;
		}
	}
}
.services{
	background: url(#{$images}service-bg.png) 0 10% no-repeat;
	@include media("<desktop"){
		background: none;
	}
	&__list{
		margin: 0 -15px;
		padding: 0;
		list-style: none;
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		@include media("<phone"){
			margin: 0 -10px;
		}
	}
	&__item{
		width: 33.333%;
		padding: 0 15px;
		@include media("<tablet"){
			width: 50%;
		}
		@include media("<phone"){
			width: 100%;
			padding: 0;
		}
	}
	&__content{
		display: flex;
		flex-direction: column;
		 transition: all .3s;
		&:hover{
			background: $white;
			box-shadow: 0px 0px 40px rgba(94, 93, 93, 0.1);
		}
	}
	&__img-box{
		display: block;
		position: relative;
		width: 100%;
		padding-bottom: 88%;
		margin-bottom: 24px;
		@include media("<phone"){
			
		}
	}
	&__img{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		height: 100%;
	}
	&__text{
		padding: 0 30px 40px;
		@include media("<phone"){
			padding: 0 15px 40px;
		}
	}
	&__title{
		display: block;
		font-size: 18px;
		line-height: 25px;
		font-weight: 700;
		text-align: center;
		margin-bottom: 25px;
	}
	&__paragraph{
		font-size: 14px;
		line-height: 23px;
		text-align: center;
	}
}
.title{
	background: url(#{$images}title-bg.png) 0 60% no-repeat;
	@include media("<desktop"){
		background: none;
	}
	&__box-img{
		display: block;
		margin-bottom:50px;
		@include media("<phone"){
			margin-bottom: 36px;
		}
	}
	&__images{
		display: block;
		max-width: 100%;
		max-height: 100%;
		margin: 0 auto;
	}
}
.filter{
	&__list{
		margin: 0;
		padding: 0;
		list-style: none;
		max-width: 255px;
		margin-right: 30px;
		@include media("<tablet"){
			margin-right: 15px;
			max-width: 220px;
		}
		@include media("<phone"){
			max-width: 300px;
			margin-bottom: 40px;
		}
	}
	&__item{
		display: inline-block;
		vertical-align: top;
		min-width: 255px;
		+ .filter__item{
			margin-top: -1px;
		}
		@include media("<tablet"){
			min-width: 170px;
		}
		@include media("<phone"){
			min-width: 100%;
		}
	}
	&__link{
		display: block;
		padding: 27px 5px;
		text-align: center;
		border: 1px solid $mercury;
		background: $white;
		transition: all .3s;
		&:hover{
			background: $orange;
			border-color: $orange;
			.filter__descr{
				color: $white;
			}
		}
	}
	&__descr{
		font-size: 18px;
		line-height: 25px;
		font-weight: 700;
		color: $scorpion;
		transition: all .3s;
	}
}
.components{
	background: url(#{$images}components-bg.png) 0 60% no-repeat;
	@include media("<desktop"){
		background: none;
	}
	&__flex-container{
		display: flex;
		align-items: flex-start;
		@include media("<phone"){
			flex-direction: column;
			align-items: center;
		}
	}
	&__items{
		width: 100%;
	}
	&__list{
		margin: 0 -15px;
		padding: 0;
		list-style: none;
		display: flex;
		flex-wrap: wrap;
	}
	&__item{
		width: 33.333%;
		padding: 0 15px;
		margin-bottom: 30px;
		@include media("<phone"){
			width: 50%;
		}
		@include media("<550px"){
			width: 100%;
		}
	}
	&__link{
		display: none;
		flex-direction: column;
		 transition: all .3s;
		&:hover{
			background: $white;
			box-shadow: 0px 0px 30px rgba(94, 93, 93, 0.3);
		}
		&:first-child{
			display: flex;
		}
	}
	&__box-img{
		display: block;
		position: relative;
		width: 100%;
		padding-bottom: 100%;
		overflow: hidden;
	}
	&__img{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		min-width: 100%;
		min-height: 100%;
	}
	&__descr{
		background: $white;
		display: block;
		text-align: center;
		padding: 20px;
		font-size: 18px;
		line-height: 25px;
		font-weight: 700;
	}
}
.catalogue{
	background: url(#{$images}catalog-bg.png) 0 200px no-repeat;
	@include media("<desktop"){
		background: none;
	}
	&__list{
		margin: 0 -15px;
		padding: 0;
		list-style: none;
		display: flex;
		flex-wrap: wrap;
		@include media("<550px"){
			margin: 0;
		}
	}
	&__item{
		width: 25%;
		padding: 0 15px;
		@include media("<phone"){
			width: 50%;
		}
		@include media("<550px"){
			width: 100%;
			padding: 0 0 15px;
		}
	}
	&__link{
		display: block;
		&:hover{
			background: $white;
			box-shadow: 0px 0px 30px rgba(94, 93, 93, 0.3);
		}
	}
	&__box-img{
		display: block;
		position: relative;
		width: 100%;
		padding-bottom: 86%;
	}
	&__img{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		height: 100%;
	}
	&__descr{
		display: block;
		font-size: 18px;
		line-height: 25px;
		font-weight: 700;
		text-align: center;
		padding: 15px 5px;
	}
}
.result{
	.search{
		display: block;
		margin-bottom: 80px;
		@include media("<phone"){
			margin-bottom: 40px;
		}
		.form_line{
			max-width: 444px;
			margin: 0 0 0 auto !important;
			@include media("<phone"){
				max-width: 100%;
			}
			.form__control{
				border: 1px solid $mercury;
				border-right: 0;
				&:focus{
					border-right: 0;
					border-color: $orange;
				}
			}
		}
	}
	.search a{
		position: relative;
		display: inline-block;
		vertical-align: top;
		width: 100%;
		height: 100%;
		z-index: 2;
	}
	.search .ico{
		position: relative;
		display: inline-block;
		vertical-align: middle;
		padding: 13px;
	}
	.search.open .ico{
		display: none;
	}
	.search .ico img{
		display: block;
		max-width: 100%;
	}
	.search.type2{
		display: block;
		margin: 0 0 10px;
		width: auto;
		height: auto;
	}
	.search a{
		display: none;
	}
	.accordeon{
		border-bottom: 1px solid #e5e5e5;
		.title{
			font-size: 18px;
			line-height: 25px;
			background: none;
			@include media("<phone"){
				font-size: 12px;
				line-height: 16px;
			}
		}
		.box-link{
			display: flex;
		}
		.download{
			display: block;
			max-width: 20px;
			max-height: 25px;
			@include media("<phone"){
				max-width: 9px;
				max-height: 12px;
			}
			svg{
				display: block;
				fill: #cecece;
				transition: all .3s;
				@include media("<phone"){
					max-width: 9px;
					max-height: 12px;
					margin: 2px 0 0;
				}
			}
			&:hover{
				svg{
					fill: $orange;
				}
			}
		}
		.descr{
			display: flex;
			align-items: center;
		}
		.link-info{
			display: none;
			@include media("<phone"){
				display: block;
				margin-left: 10px;
			}
		}
		.info{
			display: block;
			background: url(#{$images}info.svg) 50% 50% no-repeat;
			background-size: 100% auto;
			width: 12px;
			height: 12px;
		}
		.details{
			font-size: 14px;
			line-height: 19px;
			font-weight: 700;
			text-decoration: underline;
			margin-left: 90px;
			transition: all .3s;
			@include media("<phone"){
				margin-left: 20px;
				font-size: 10px;
				line-height: 14px;
			}
		}
		dl{
			margin: 0;
			background-color: $white;
		}
		dt{
			display: flex;
			align-items: center;
			justify-content: space-between;
			position: relative;
			border: 1px solid #e5e5e5;
			padding: 23px 65px 23px 24px;
			margin: 0;
			cursor: pointer;
			border-bottom: 0;
			@include media("<phone"){
				padding: 9px 16px;
			}
		}
		dt.active{
			.details{
				color: $orange;
			}
		}
		dt span{
			display: inline-block;
			vertical-align: middle;
			font-size: 14px;
			line-height: 32px;
			font-weight: 400;
			text-transform: uppercase;
		}
		dt .ico{
			display: inline-block;
			vertical-align: middle;
			font-size: 0;
			line-height: 0;
			text-align: center;
			width: 32px;
			height: 32px;
			margin: 0 8px 0 0;
		}
		dd{
			position: relative;
			margin: -1px 0 0;
			border: 1px solid #e5e5e5;
			border-top: 0;
			border-bottom: 0;
			padding: 10px 65px 40px;
			font-size: 14px;
			line-height: 25px;
			color: $blackcurrant;
			font-weight: 300;
			font-style: normal;
			@include media("<phone"){
				padding: 10px 30px;
			}
		}
		dd p{
			margin: 0 0 30px;
		}
		dd p:last-child{
			margin: 0;
		}
		dd .content{
			&__list{
				margin: 0 0 40px;
				padding: 0;
				list-style: none;
				column-count: 2;
				@include media("<phone"){
					column-count: 1;
					margin: 0 0 20px;
				}
			}
			&__item{
				display: flex;
				justify-content: space-between;
				align-items: flex-start;
				margin-bottom: 15px;
			}
			&__descr{
				font-size: 18px;
				line-height: 25px;
				color: $scorpion;
				@include media("<phone"){
					font-size: 10px;
					line-height: 14px;
				}
			}
			&__sense{
				min-width: 70px;
				text-align: right;
				color: $scorpion;
				font-size: 18px;
				line-height: 25px;
				font-weight: 600;
				@include media("<phone"){
					font-size: 10px;
					line-height: 14px;
				}
			}
			&__paragraph{
				max-width: 320px;
				font-size: 10px;
				line-height: 17px;
				@include media("<phone"){
					line-height: 14px;
					margin-bottom: 15px;
					max-width: 100%;
				}
			}
			.close{
				display: none;
				background: url(#{$images}close.svg) 50% 35% no-repeat;
				background-size: 30px auto;
				padding: 25px 0;
				@include media("<phone"){
					display: block;
					background-size: 20px auto;
					padding: 15px 0;
				}
			}
		}
	}
}



.investment{
	padding: 50px 0 60px;
	@include media("<phone"){
		padding: 25px 0;
	}
	h2, .h2{
		margin-bottom: 35px;
	}
	.btn{
		min-width: 278px;
		@include media("<phone-xs"){
			min-width: auto;
			width: 100%;
		}
	}
	&__row{
		display: flex;
		flex-flow: row nowrap;
		margin: 0 -9px;
		@include media("<tablet"){
			flex-flow: column;
		}
	}
	&__col{
		flex: 1 1 auto;
		display: flex;
		flex-flow: row nowrap;
		padding: 0 9px;
		@include media("<tablet"){
			margin-bottom: 20px;
		}
		@include media("<phone"){
			flex-flow: row wrap;
			margin-bottom: 8px;
		}
		&._small{
			flex: 0 1 auto;
		}
		.jcf-select{
			margin-left: 20px;
			@include media("<phone"){
				margin: 0 0 8px;
			}
			&.jcf-select-_small{
				max-width: 190px !important;
				@include media("<phone"){
					max-width: 100% !important;
				}
			}
		}
		.form__control{
			margin-left: 14px;
			@include media("<tablet"){
				margin-left: 20px;
			}
			@include media("<phone"){
				margin: 0;
			}
			&.first{
				@include media("<phone"){
					margin-right: 10px;
				}
			}
			&.last{
				@include media("<phone"){
					margin-left: 10px;
				}
			}
			&._sm{
				max-width: 112px;
				@include media("<phone"){
					max-width: 100%;
					width: calc(50% - 10px);
				}
			}
		}
	}
	&__filter{
		margin-bottom: 40px;
		@include media("<tablet"){
			margin-bottom: 20px;
		}
		&-title{
			white-space: nowrap;
			font-size: 16px;
			line-height: 30px;
			color: $black;
			font-weight: 700;
			@include media("<tablet"){
				min-width: 95px;
			}
			@include media("<phone"){
				width: 100%;
				margin-bottom: 4px;
			}
		}
	}
	&__content{
		text-align: center;
	}
	&__list{
		margin-bottom: 10px;
		@include media("<phone"){
			margin-bottom: 0;
		}
	}
	&__item{
		margin-bottom: 30px;
		@include media("<phone"){
			margin-bottom: 20px;
		}
	}
	&__holder{
		position: relative;
		display: block;
		background-color: $white;
		box-shadow: 0 0 10px #D2D2D2;
		border: 1px solid #fff;
		transition: all .3s ease-in-out;
		&:hover{
			border-color: #BDBDBD;
		}
		&:before{
			content: "";
			position: absolute;
			top: -1px;
			left: -1px;
			right: -1px;
			height: 3px;
			background: $blue;
			z-index: 10;
		}
	}
	&__img{
		position: relative;
		padding-top: 72%;
		margin: -1px -1px 0;
		z-index: 0;
		&:after{
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.49) 100%);
			z-index: 2;
		}
	}
	&__caption{
		position: absolute;
		left: 0;
		bottom: 20px;
		color: $white;
		display: block;
		font-size: 16px;
		line-height: 1.5;
		font-weight: 700;
		padding: 8px 18px;
		text-align: left;
		z-index: 5;
	}
	&__descr{
		display: flex;
		flex-direction: column;
		color: $gray;
		text-align: left;
		padding: 14px 18px 20px;
	}
	&__descr-wrap{
		flex: 1 1 auto;
		margin-bottom: 26px;
	}
	&__descr-list{
		display: flex;
		margin-bottom: 4px;
		font-size: 16px;
		line-height: 20px;
		font-weight: 400;
		color: $gray;
	}
	&__descr-title{
		display: inline-block;
		vertical-align: top;
	}
	&__descr-descr{
		display: inline-block;
		vertical-align: top;
		margin: 0 0 0 4px;
	}
	&__descr-foot{
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		justify-content: space-between;
	}
	&__price{
		display: block;
		font-size: 20px;
		line-height: 1.5;
		font-weight: 700;
		color: $gray;
	}
	&__footage{
		display: block;
		font-size: 16px;
		line-height: 1.5;
		font-weight: 700;
		color: $gray;
	}
}